<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/connect.css">
    <link rel="stylesheet" href="/css/connectBackground.css">
    <title>Login</title>
</head>

<body>
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="wrapper">
        <div class="login-register">

            <ul>
                <li class="form-tab active" id="login-tab">Login</li>
                <li class="form-tab" id="register-tab">Register</li>
            </ul>

            <form class="login content content-active" action="/auth/login" method="POST">
                
                {{#if login_message_success}}
                    <p class="message-success">{{login_message_success}}</p> 
                {{/if}}
                {{#if login_message_failure}}
                    <p class="message-failure">{{login_message_failure}}</p> 
                {{/if}}


                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" name="email" required />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password_login" type="password" name="password" required />
                </div>

                <input type="checkbox" onclick="showPwLogin()" />Show Password<br>

                <input type="submit" class="submit-btn" value="Login" />
            </form>

            <form class="register content" action="/auth/register" method="POST">
                {{#if register_message_success}}
                <p class="message-success">{{register_message_success}}</p>
                {{/if}}
                {{#if register_message_failure}}
                <p class="message-failure">{{register_message_failure}}</p>
                {{/if}}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{name}}" required />
                </div>

                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" value="{{surname}}" required />
                </div>

                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" name="email" value="{{email}}" required />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password_register1" type="password" name="password" value="{{password}}" required />
                </div>

                <div class="form-group">
                    <label for="password_confirm">Confirm Password</label>
                    <input id="password_register2" type="password" name="password_confirm" value="{{password_confirm}}" required />
                </div>

                <input type="checkbox" onclick="showPwRegister()" />Show Password<br>

                <input type="submit" class="submit-btn" value="Register" />


            </form>
            <div>
            </div>
            <div class="background">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <script src="/js/jquery.min.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/connect.js"></script>
</body>

</html>