<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/connect.css">
    <link rel="stylesheet" href="/css/connectBackground.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <title>Imperium Line</title>
</head>

<body>
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="wrapper">
        <div class="login-register">

            {{!-- <ul>
                <li class="form-tab active" id="login-tab">Login</li>
                <li class="form-tab" id="register-tab">Register</li>
            </ul>

            <form class="login content content-active" action="/auth/login" method="POST">

                {{#if login_message_success}}
                <p class="message-success">{{login_message_success}}</p>
                {{/if}}
                {{#if login_message_failure}}
                <p class="message-failure">{{login_message_failure}}</p>
                {{/if}}


                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" name="email" required />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password_login" type="password" name="password" required />
                </div>

                <input type="checkbox" onclick="showPwLogin()" />Show Password<br>

                <input type="submit" class="submit-btn" value="Login" />
            </form>

            <form class="register content" action="/auth/register" method="POST">
                {{#if register_message_success}}
                <p class="message-success">{{register_message_success}}</p>
                {{/if}}
                {{#if register_message_failure}}
                <p class="message-failure">{{register_message_failure}}</p>
                {{/if}}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{name}}" required />
                </div>

                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" value="{{surname}}" required />
                </div>

                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" name="email" value="{{email}}" required />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password_register1" type="password" name="password" value="{{password}}" required />
                </div>

                <div class="form-group">
                    <label for="password_confirm">Confirm Password</label>
                    <input id="password_register2" type="password" name="password_confirm" value="{{password_confirm}}"
                        required />
                </div>

                <input type="checkbox" onclick="showPwRegister()" />Show Password<br>

                <input type="submit" class="submit-btn" value="Register" />


            </form>
            <div>
            </div>
            --}}



            <div class="content-container">
                <section class="appIntro">
                    <H1>Welcome to Imperium&nbsp;Line</H1>
                    <p>
                        Imperium Line is a private messaging function between two or more people. It enables unlimited
                        number of voice and video private or group calls.
                    </p>
                </section>
                <section class="wrapper">
                    <div class="heading">
                        <h1 class="text text-large">Sign In</h1>
                        <p class="text text-normal">New user? <span><a href="/signUp" class="text text-links">Create an
                                    account</a></span>
                        </p>
                    </div>
                    <form name="login" class="form" action="/auth/login" method="POST">
                        <div class="error-control">
                            {{>login_messages}}
                        </div>
                        <div class="input-control">
                            <label for="email" class="input-label" hidden>Email Address</label>
                            <input type="email" name="email" required class="input-field" placeholder="Email Address">
                        </div>
                        <div class="input-control">
                            <label for="password" class="input-label" hidden>Password</label>
                            <input id="password_login" type="password" name="password" required class="input-field"
                                placeholder="Password">
                        </div>
                        <div class="input-control">
                            <div class="input-control-item">
                                <input type="checkbox" name="visible" id="passwordVisible" hidden />
                                <label for="passwordVisible" class="input-label" id="visibleLabel"><i class='bx bxs-show'></i><p>Show Password</p></label>
                            </div>
                            <div class="input-control-item">
                                <input type="checkbox" name="remember" id="remember" />
                                <label for="remember" class="input-label" id="rememberLabel">Remember Me</label>
                            </div>
                        </div>
                        <div class="input-control">
                            <a href="#" class="text text-links">Forgot Password <i class='bx bx-shield-quarter'></i></a>
                            <input type="submit" name="submit" class="input-submit" value="Login">
                        </div>
                    </form>
                </section>
            </div>


        </div>
        <section class="feature-section">
            <h2>Features</h2>
            <div class="features">
                <div class="feature-item">
                    <i class='bx bxs-bowl-rice'></i>
                    <h3>Todo List</h3>
                    <p>Function 1
                    </p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bxs-timer'></i>
                    <h3>Pomodoro Timer</h3>
                    <p>Function 2</p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bxs-inbox'></i>
                    <h3>Shelf</h3>
                    <p>Function 3</p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bxs-bookmarks'></i>
                    <h3>Bookmark</h3>
                    <p>Function 4</p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bxs-cloud'></i>
                    <h3>Weather Information</h3>
                    <p>Function 5</p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bx-image'></i>
                    <h3>Dynamic Wallpaper</h3>
                    <p>Function 6</p>
                </div>
            </div>

            <div class="get-involved">
                <p>Have a feature idea? Or, Want to get involved in the development? Imperium Line is open source!</p>
                <a target="_blank" href="https://github.com/alainpaulinn/imperiumline">
                    <p>Find Imperium Line on GitHub</p> <i class='bx bxl-github'></i>
                </a>
            </div>
        </section>

        <section class="cta">
            <div class="cta-btn">
                <p>Your new chat app awaits!</p>
                <a href="https://github.com/alainpaulinn/imperiumline.git">Download Imperium Line Now!</a>
                <p class="warning">If prompt, Click Accept/Add to install the Application.</p>
            </div>
        </section>
    </div>
    <div class="footer">
        <a href="mailto:alainpaulinn@gmail.com">Contact Us</a>
        <a href="/download/windows"><p>Windows</p><i class='bx bxl-windows'></i> </a>
        <a href="/download/mac"> <p>Mac</p><i class='bx bxl-apple'></i> </a>
        <a href="/download/linux"> <p>Linux</p><i class='bx bxl-tux' ></i> </a>
    </div>
    <div class="notifications" id="notificationsDiv">
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/connect.js"></script>
</body>

</html>